
body{
    background-color: antiquewhite;
  }
 
  .mhead{
    font-size:3em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'arial';
    position: absolute;
    top:7%;
    left:35%;
    transform: translateX(-50);
  }
  
  .column{
    
    width: 30%;
    box-shadow: -1px 0 10px #0000;
  }

 
  .row{
    position: absolute;
    top:20%;
    left:5%;
    display: flex;
    justify-content: space-between;
  }
  .data1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    top:65%;
    left:8%;
    transform: translateX(-50);
    color: black; /* Text color */
    border: 2px solid black; /* Border style and color */
    padding: 10px; /* Padding around the text */
    display: inline-block; /* Make the border fit the text width */
  }
 .info2{
  top:75%;
  font-size:2em;

 }
 .info5{
  top:75%;
  font-size:2em;

 }
 .info8{
  top:75%;
  font-size:2em;

 }
  .data2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    top:65%;
    left:40%;
    transform: translateX(-50);
    color: black; /* Text color */
    border: 2px solid black; /* Border style and color */
    padding: 10px; /* Padding around the text */
    display: inline-block; /* Make the border fit the text width */
  }
  .data3{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    top:65%;
    left:67%;
    transform: translateX(-50);
    color: black; /* Text color */
    border: 1px solid black; /* Border style and color */
    padding: 10px; /* Padding around the text */
    display: inline-block; /* Make the border fit the text width */
  }

